.header {
    padding: 2rem 4rem;
    background: #0E0E0E;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        color: white;
        font-size: 2rem;
    }
}