.cart-item {
    display: flex;
    align-items: center;
    margin: 4rem 0;
    .metadata {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: left;
        padding: 0;
        margin-left: 1rem;
    }
    img {
        height: 8rem;
        width: auto;
    }
    h2 {
        font-size: 2rem;
        &.item-price {
            font-size: 2.5rem;
            margin-left: 12rem;
        }
    }
    h3 {
        margin: 0;
        font-size: 1.5rem;
    }
    h4 {
        color: red;
    }
}