.sidebar {
    width: 25rem;
    background: black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 20rem;
    width: 100%;
    border: 2px solid green;
}

.profile {
    height: 15rem;
    width: 100%;
    border: 2px solid red;
}